.main .profile {
    min-height: unset !important;
    padding-bottom: 0 !important;
    padding-top: 2rem !important;
}
.profile .profile_inner {
    gap: 0.5rem !important;
    padding-bottom: 1.5rem !important;
    border-bottom: 1px solid var(--border) !important;
    margin-bottom: 1.5rem !important;
}
.footer a {
    text-decoration: none !important;
}

.post-content p {
    text-align: justify !important;
}

:root {
    --nav-width: 720px;
}

.post-content table td:first-child {
    white-space: nowrap;
}
